# Backend Environment Variables
DATABASE_URL=sqlite:///./sccin.db
SECRET_KEY=SCCIN_SUPER_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=3000

# Frontend Environment Variables
VITE_API_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000/ws
